.big-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.firstbox{
    background-color: #1F2937;
}

.headerbox{
    display:flex;  
    justify-content: space-between;
    height: 90px;
    margin-left: 70px;
    padding-top: 6px;
    color: #E5E7EB
    
}

ul{
    display: flex;
    list-style-type: none;
    gap: 8px;
    margin-top: 0;
    margin-right: 70px;
}

.small{
    font-size: 14px;
    color: #E5E7EB;
}

.top-main{
    margin-left: 70px;
    margin-right: 70px;
    display:flex;
    flex: 1;
}

.tright{
    background-color: gray;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tleft{
    display:flex;
    flex-direction: column;
    flex:1;
    padding: 16px;
    
}

p{
    margin: 0;
}
button{
    display: flex;
    align-self: flex-start;
    background-color: #3882F6;
    
  width: 75px;
  border-radius: 6px;
  

}

.button{
    line-height: initial;
    text-align:  center;
}

.mboxes{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
    width: 125px;
   

}

.middlebox{
    
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    margin-left: 125px;
    margin-right: 125px;
    padding-bottom: 25px;
    flex-grow: 0;
}

.empty{
    width: 125px;
    height: 125px;
    border-radius: 12px;
    border: 2px solid #3882F6;
}

.random{
    padding:16px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 19px;
}

.mid{
    display:flex;
    text-align: center;
    font-size: 14px;
    padding: 4px;
}

.secondbox{
    
}

.thirdbox{
    background-color: gray;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:  160px;
    padding-right: 160px;
    padding-top: 70px;
    background-color: #E5E7EB;

}

.third{
    font-size: 24px;
    font-family: 'light italic';
    color: #1F2937;
}

.author{
    font-size: 18px;
    font-weight: 550;
    display: flex;
    align-self: flex-end;
}

.fourth{
    display: flex;
 
    flex-direction: row;
    background-color: #3882F6;
    margin: 75px;
    padding: 25px 75px;
    color: #F9FAF8
}

.fleft{
   
}
.fright{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow:1;
}

.footer{
    background-color: #1F2937;
    color:  #E5E7EB;
    font-size: 14px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 25px 75px;
}


    